.posts{
    list-style-type: none;
    margin: 0;
}

.post{
    margin: 1rem 0;
    .link {
        text-decoration: none;
        
        
    }
    .link:hover {
        background-color: #b6b6b7;
        
    }
    a {
        color: #2c2c2b;
        background-color: #c6c6c7;
        display: block;
        padding: 1rem;
        
    }
    
}